<div class="container">
  <div class="home">
    <div class="search">
      <form class="example" action="/products">
        <input type="text" placeholder="Введите номер детали.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button></input>
      </form>
    </div>
  </div>
</div>